<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% title = 'Punk is Dead' %>
    <% if current_article %>
      <% title += ' - ' + current_article.title %>
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@assopunkisdead">
      <meta name="twitter:title" content="<%= current_article.title %>">
      <meta name="twitter:description" content="<%= current_article.data.description %>">
      <meta name="twitter:image" content="https://punkisdead.fr<%= current_page.url + current_article.data.image %>">
    <% end %>

    <title><%= title %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">

    <!-- Header -->
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Punk is Dead <small>association promouvant la scène punk dans les Alpes-Maritimes</small></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'Accueil', '/' %></li>
            <li><%= link_to 'Prochains concerts', '/concerts.html' %></li>
            <li><%= link_to 'Contact', '/contact.html' %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of Header -->

    <div class="container-fluid">
      <div class="row">
      <!-- Menu -->
        <div class="col-md-1"></div>
        <div class="col-md-2 offset">
          <%= partial 'sidebar' %>
        </div>
      <!-- End of menu -->

      <!-- Content -->
      <div class="col-md-5 offset justify">
        <%= current_article && header_for(current_article) %>
        <%= yield %>
        <%= current_article && footer_for(current_article) %>
      </div>
      <!-- End of Content -->

      <!-- Recommendation -->
      <div class="col-md-3 recommendations offset">
        <h2>Aujourd'hui, on écoute</h2>
        <%= partial 'recommendations' %>
      </div>
    </div>
      <!-- End of Recommendation -->
    </div>
  </body>
</html>
