---
pageable: true
---
<h1>Archives pour
  <% case page_type
     when 'day' %>
    le <%= I18n.localize(Date.new(year, month, day), format: '%e %b %Y') %>
  <% when 'month' %>
    <%= I18n.localize(Date.new(year, month, 1), format: '%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> de <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Page précédente', prev_page %></p>
  <% end %>
<% end %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %>, <span><%= I18n.localize(article.date, format: '%b %e') %></span></li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Page suivante', next_page %></p>
  <% end %>
<% end %>
