---
pageable: true
---
<h1>Articles de la catégorie : <%= category.capitalize %></h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> de <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Page précedente', prev_page %></p>
  <% end %>
<% end %>

<%= summary_for_list_of page_articles %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Page suivante', next_page %></p>
  <% end %>
<% end %>
