---
pageable: true
per_page: 12
---
<h1>Articles annotés '<%= tagname.capitalize %>'</h1>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> de <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Page précédente', prev_page %></p>
  <% end %>
<% end %>

<%= summary_for_list_of page_articles %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Page précédente', next_page %></p>
  <% end %>
<% end %>
